*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Barra
{
display:flex;
align-items: center;
justify-content: center;
background-color: rgb(34, 34, 34);
padding: 10px 20px;
height: 60px;
position:fixed;
top:0;
width:100%;
z-index:1000;
}

.Barra h1
{
    color:aliceblue;
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

body
{
    background-image: url("../imagenes videos/asailentvoice.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.video
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.desc 
{
    background-color: rgba(0, 0, 0, 0.805);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 50%;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 8px;
    position: relative;
    top: -100px;
}

.desc p
{
    text-align: left;
    font-family: Arial, sans-serif;
    max-width: 500px;
    color: white;
}

.desc img
{
    max-width: 600px;
    height: auto;
}